romts_gsrst_flows/Workflows/AccountSetTradeName-061AE7EE-D774-ED11-81AC-0022483C5061.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e40010b8-942e-470b-9b55-90af4ff5d0f1"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "account",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1c7af26a-563a-41eb-a0f2-f7a840db970d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_tradenames",
              "$filter": "_ts_stakeholderid_value eq '@{triggerOutputs()?['body/accountid']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Add_a_new_row": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "0799ae93-c414-4193-a822-821da4cbde09"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps_1",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "ts_tradenames",
                    "item/ts_name": "@triggerOutputs()?['body/name']",
                    "item/ts_StakeholderId@odata.bind": "/accounts(@{triggerOutputs()?['body/accountid']})"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greaterOrEquals": [
              "@length(outputs('List_rows')?['body/value'])",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "c51c69bd-ca43-43af-82f3-c0086280edaa"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}