romts_gsrst_flows/Workflows/FindingSendemailtoinspectorwhenmanagerhasrevieweda-6CC34871-5ED0-EC11-A7B5-002248ADD7E6.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsOutlook"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "f3ff6322-6c78-4b1e-b8b8-a4ec81982317"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ovs_finding",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ts_ncatmanagerenforcementjustification,ts_ratemanagerenforcementjustification",
              "subscriptionRequest/filterexpression": "(ts_ncatmanagerenforcementjustification ne null) or (ts_ratemanagerenforcementjustification ne null)",
              "subscriptionRequest/name": "6cc34871-5ed0-ec11-a7b5-002248add7e6"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_ROM_app_id_variable": {
          "runAfter": {
            "IF_NCAT_has_changed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "458a4c87-fe8f-4ee1-ac89-172573042a57"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "romAppId",
                "type": "string"
              }
            ]
          }
        },
        "Get_a_row_by_ID": {
          "runAfter": {
            "Initialize_ROM_app_id_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "725eafb1-47ae-43ba-aa7a-e0ca5e6f1fe9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "parameters": {
              "entityName": "ovs_findings",
              "recordId": "@triggerOutputs()?['body/ovs_findingid']",
              "$select": "ovs_findingid"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_ROM_app_id": {
          "runAfter": {
            "Get_a_row_by_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1c30881-4596-4f24-8924-7e3580119f85"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords"
            },
            "parameters": {
              "entityName": "appmodules",
              "$select": "uniquename, appmoduleid",
              "$filter": "uniquename eq 'ovs_ROM'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_ROM_app_id')?['body/value']",
          "actions": {
            "Set_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "915ce55c-4ef9-4ea0-93a2-8424108f0252"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "romAppId",
                "value": "@items('Apply_to_each')?['appmoduleid']"
              }
            }
          },
          "runAfter": {
            "Get_ROM_app_id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f57fea09-203f-4979-b9bc-5c91a173ed1b"
          },
          "type": "Foreach"
        },
        "URL": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5631f9e-d57b-4797-bcb6-1f8dd69ccaad"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_a_row_by_ID')?['body/@odata.id']"
        },
        "Initialize_and_set_finding_URL_variable": {
          "runAfter": {
            "URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0289837e-3c12-4350-b2a5-cfda5bd2e03b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "findingURL",
                "type": "string",
                "value": "https://@{uriHost(outputs('URL'))}/main.aspx?appid=@{variables('romAppId')}&amp;pagetype=entityrecord&amp;etn=ovs_finding&amp;id=@{triggerOutputs()?['body/ovs_findingid']}"
              }
            ]
          }
        },
        "Condition": {
          "actions": {
            "Send_an_email_(V2)_(french)": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b59bde43-f382-4175-a0ab-49f2bff20729"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@variables('inspectorEmail')",
                  "emailMessage/Subject": "Constatation @{triggerOutputs()?['body/ovs_finding']} recommandation @{if(equals(variables('valueModified'), 'NCAT'), 'de l’Outil d’évaluation de la non-conformité', 'RATE')} a été revue par @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}",
                  "emailMessage/Body": "<p>La recommandation  @{if(equals(variables('valueModified'),'NCAT'),'de l’Outil d’évaluation de la non-conformité','RATE')}<strong> @{triggerOutputs()?['body/ovs_finding']}</strong> à été revue par <strong> @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}</strong>. La mesure d’application finale a été fixé à <b>@{triggerOutputs()?['body/_ts_finalenforcementaction_label']}</b> avec comme justification <b>@{if(equals(variables('valueModified'),'NCAT'),triggerOutputs()?['body/ts_ncatmanagerenforcementjustification'],triggerOutputs()?['body/ts_rateenforcementjustification'])}</b>.<br>\n<br>\n<a href=\"@{variables('findingURL')}\">Cliquer ici pour afficher la constatation </a><br>\n</p>\n\n---\n\n<p>The finding <strong> @{triggerOutputs()?['body/ovs_finding']}</strong> @{if(equals(variables('valueModified'),'NCAT'),'NCAT','RATE')} recommendation was reviewed by <strong> @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}</strong>. The final enforcement action was set to <b>@{triggerOutputs()?['body/_ts_finalenforcementaction_label']}</b> with the following justitfication <b>@{if(equals(variables('valueModified'),'NCAT'),triggerOutputs()?['body/ts_ncatmanagerenforcementjustification'],triggerOutputs()?['body/ts_rateenforcementjustification'])}</b>.<br>\n<br>\n<a href=\"@{variables('findingURL')}\">Click here to go to the finding</a><br>\n</p>",
                  "emailMessage/From": "RomService-ServiceGSR@tc.gc.ca",
                  "emailMessage/ReplyTo": "@outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/internalemailaddress']",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "IF_valueModified_is_RATE_then_set_email_and_language": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Send_an_email_(V2)_(english)": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b59bde43-f382-4175-a0ab-49f2bff20729"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                    "connectionName": "shared_office365",
                    "operationId": "SendEmailV2"
                  },
                  "parameters": {
                    "emailMessage/To": "@variables('inspectorEmail')",
                    "emailMessage/Subject": "Finding @{triggerOutputs()?['body/ovs_finding']} @{if(equals(variables('valueModified'), 'NCAT'), 'NCAT', 'RATE')} recommendation was reviewed by @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}",
                    "emailMessage/Body": "<p>The finding <strong> @{triggerOutputs()?['body/ovs_finding']}</strong> @{if(equals(variables('valueModified'),'NCAT'),'NCAT','RATE')} recommendation was reviewed by <strong> @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}</strong>. The final enforcement action was set to <b>@{triggerOutputs()?['body/_ts_finalenforcementaction_label']}</b> with the following justitfication <b>@{if(equals(variables('valueModified'),'NCAT'),triggerOutputs()?['body/ts_ncatmanagerenforcementjustification'],triggerOutputs()?['body/ts_rateenforcementjustification'])}</b>.<br>\n<br>\n\n<a href=\"@{variables('findingURL')}\">Click here to go to the finding</a><br>\n</p>\n\n---\n\n<p>La recommandation @{if(equals(variables('valueModified'),'NCAT'),'de l’Outil d’évaluation de la non-conformité','RATE')}<strong> @{triggerOutputs()?['body/ovs_finding']}</strong> à été revue par <strong> @{outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/fullname']}</strong>. La mesure d’application finale a été fixé à <b>@{triggerOutputs()?['body/_ts_finalenforcementaction_label']}</b> avec comme justification <b>@{if(equals(variables('valueModified'),'NCAT'),triggerOutputs()?['body/ts_ncatmanagerenforcementjustification'],triggerOutputs()?['body/ts_rateenforcementjustification'])}</b>.<br>\n<br>\n<a href=\"@{variables('findingURL')}\">Cliquer ici pour afficher la constatation </a><br>\n</p>",
                    "emailMessage/From": "RomService-ServiceGSR@tc.gc.ca",
                    "emailMessage/ReplyTo": "@outputs('Get_full_name_of_whoever_last_modified_the_finding_(manager)')?['body/internalemailaddress']",
                    "emailMessage/Importance": "Normal"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('inspectorLanguage')",
              1036
            ]
          },
          "metadata": {
            "operationMetadataId": "4c1c4cfd-5c6e-43ec-b354-018a59e705b0"
          },
          "type": "If"
        },
        "IF_NCAT_has_changed": {
          "actions": {
            "Set_valueModified_to_\"NCAT\"": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8baeee78-c78b-476e-bbbd-74d283120726"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "valueModified",
                "value": "NCAT"
              }
            }
          },
          "runAfter": {
            "Initialize_valueModified_to_track_whether_RATE_OR_NCAT_has_changed": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_valueModified_to_\"RATE\"": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "efba7d97-757d-4461-a489-bce8791b3928"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "valueModified",
                  "value": "RATE"
                }
              }
            }
          },
          "expression": {
            "not": {
              "equals": [
                "@triggerOutputs()?['body/ts_ncatenforcementjustification']",
                "@null"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "06ce2838-b3b0-41ff-9fcd-785bda01d6b2"
          },
          "type": "If"
        },
        "Initialize_valueModified_to_track_whether_RATE_OR_NCAT_has_changed": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e61721dd-e01c-411c-b1f4-081365183511"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "valueModified",
                "type": "string"
              }
            ]
          }
        },
        "IF_valueModified_is_RATE_then_set_email_and_language": {
          "actions": {
            "Set_managersEmails_to_RATE_manager_email": {
              "runAfter": {
                "Get_RATE_inspector_language": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "5a06a047-3840-4cd0-9011-569d26da46f7"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "inspectorEmail",
                "value": "@outputs('Get_RATE_inspector_email')?['body/internalemailaddress']"
              }
            },
            "Get_RATE_inspector_email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "1ad47a3a-ea9d-4c34-8f11-7e013f7c004f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "entityName": "systemusers",
                  "recordId": "@triggerOutputs()?['body/_ownerid_value']",
                  "$select": "internalemailaddress"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Get_RATE_inspector_language": {
              "runAfter": {
                "Get_RATE_inspector_email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f46b3365-4d7c-41b5-94d7-159d7262b2fc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "GetItem"
                },
                "parameters": {
                  "entityName": "usersettingscollection",
                  "recordId": "@triggerOutputs()?['body/_ownerid_value']",
                  "$select": "uilanguageid"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Set_inspector_Language_to_RATE_inspector_language": {
              "runAfter": {
                "Set_managersEmails_to_RATE_manager_email": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "066ad392-5630-4ad0-b1c0-e1f4bf76e907"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "inspectorLanguage",
                "value": "@outputs('Get_RATE_inspector_language')?['body/uilanguageid']"
              }
            }
          },
          "runAfter": {
            "Initialize_inspectorLanguage": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_managersEmails_to_NCAT_manager_email": {
                "runAfter": {
                  "Get_NCAT_inspector_language": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f182b06a-4663-44e0-9fa1-b9b7e61feab6"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "inspectorEmail",
                  "value": "@outputs('Get_NCAT_inspector_email')?['body/internalemailaddress']"
                }
              },
              "Get_NCAT_inspector_email": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "1ad47a3a-ea9d-4c34-8f11-7e013f7c004f"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem"
                  },
                  "parameters": {
                    "entityName": "systemusers",
                    "recordId": "@triggerOutputs()?['body/_ownerid_value']",
                    "$select": "internalemailaddress"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Get_NCAT_inspector_language": {
                "runAfter": {
                  "Get_NCAT_inspector_email": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "440d233d-c124-497c-98c7-d54d915bd419"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "GetItem"
                  },
                  "parameters": {
                    "entityName": "usersettingscollection",
                    "recordId": "@triggerOutputs()?['body/_ownerid_value']",
                    "$select": "uilanguageid"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_inspectorLanguage_to_NCAT_inspector_language": {
                "runAfter": {
                  "Set_managersEmails_to_NCAT_manager_email": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "43a67f23-fc12-4e61-973d-838559895079"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "inspectorLanguage",
                  "value": "@outputs('Get_NCAT_inspector_language')?['body/uilanguageid']"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@variables('valueModified')",
              "RATE"
            ]
          },
          "metadata": {
            "operationMetadataId": "c31c558e-c683-45db-be5d-732426b565fc"
          },
          "type": "If"
        },
        "Get_full_name_of_whoever_last_modified_the_finding_(manager)": {
          "runAfter": {
            "Initialize_and_set_finding_URL_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf8975ac-2ade-42d1-92a2-b80e3e8e95f2"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem"
            },
            "parameters": {
              "entityName": "systemusers",
              "recordId": "@triggerOutputs()?['body/_modifiedby_value']",
              "$select": "fullname, internalemailaddress"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_inspectorEmail": {
          "runAfter": {
            "Get_full_name_of_whoever_last_modified_the_finding_(manager)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7e862e74-e367-4c32-a1ad-a0327ae932d7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "inspectorEmail",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_inspectorLanguage": {
          "runAfter": {
            "Initialize_inspectorEmail": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0d14ae9d-60c0-4020-a569-3723b7239918"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "inspectorLanguage",
                "type": "integer"
              }
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}