romts_gsrst_flows/Workflows/OperationOperationalStatuschanged-771F2491-DC5D-EC11-8F8E-000D3A845885.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "bc33a389-f380-46d9-9363-94c71e5394fd"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ovs_operation",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ts_operationalstatus"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "22be9eb8-5c74-4280-814c-a2aa7386b7ea"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "posts",
                  "item/source": 1,
                  "item/largetext": " The status has been updated to Non-Operational",
                  "item/text": " ",
                  "item/type": 3,
                  "item/regardingobjectid_ovs_operation@odata.bind": "/ovs_operations/@{triggerOutputs()?['body/ovs_operationid']}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Add_a_new_row_2": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "600008a8-8b4a-4827-980b-3760ad0811a1"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "posts",
                    "item/source": 1,
                    "item/largetext": " The status has been updated to Operational",
                    "item/text": " ",
                    "item/type": 3,
                    "item/regardingobjectid_ovs_operation@odata.bind": "/ovs_operations/@{triggerOutputs()?['body/ovs_operationid']}"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Update_a_row": {
                "runAfter": {
                  "Add_a_new_row_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "710fd5c5-1e4c-47b9-815d-02634fc360c3"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "UpdateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "ovs_operations",
                    "recordId": "@triggerOutputs()?['body/ovs_operationid']",
                    "item/ts_description": "@null",
                    "item/ts_statusenddate": "@null",
                    "item/ts_statusstartdate": "@null"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['body/ts_operationalstatus']",
              717750001
            ]
          },
          "metadata": {
            "operationMetadataId": "e89e656e-807e-4a87-9f05-ac8c55041677"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}