romts_gsrst_flows/Workflows/OperationResetAvSecOperationProperties-A39CA6A1-9B28-ED11-9DB1-002248ADA8C4.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "34881746-018f-4443-8d01-732c712f372c"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "List_All_Operations": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f721539a-b06d-4575-bcd7-2b4cbd94fc57"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_operations",
              "$filter": "ts_stakeholder ne null and ts_site ne null"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each_Operation": {
          "foreach": "@outputs('List_All_Operations')?['body/value']",
          "actions": {
            "Get_Stakeholder": {
              "runAfter": {
                "Get_Site": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a92f18f3-3ed3-4ab5-8508-ecc6884a6041"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "accounts",
                  "recordId": "@items('Apply_to_each_Operation')?['_ts_stakeholder_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "If_Operation_Type_is_Air_Carrier_(Passenger)_and_Site_is_in_Canada": {
              "actions": {
                "If_Stakeholder_is_in_Canada": {
                  "actions": {
                    "Update_Operation_Properties_(Canada)": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "ca8bac33-4d11-4081-9a32-e85602dfb725"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_commondataserviceforapps_1",
                          "operationId": "UpdateRecord",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        },
                        "parameters": {
                          "entityName": "ovs_operations",
                          "recordId": "@items('Apply_to_each_Operation')?['ovs_operationid']",
                          "item/ts_cargo": true,
                          "item/ts_cateringandstores": true,
                          "item/ts_domesticflights": true,
                          "item/ts_internationalflights": false,
                          "item/ts_mail": false,
                          "item/ts_opi": false,
                          "item/ts_oss": true,
                          "item/ts_ron": false,
                          "item/ts_aviationsecuritytraining": false,
                          "item/ts_transborderflights": false,
                          "item/ts_unattendedaircraft": true
                        },
                        "authentication": {
                          "type": "Raw",
                          "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                        }
                      }
                    }
                  },
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "If_Stakeholder_is_in_USA": {
                        "actions": {
                          "Update_Operation_Properties_(USA)": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "501b9a97-370a-4c1d-8aed-0cd35f475133"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_commondataserviceforapps_1",
                                "operationId": "UpdateRecord",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                              },
                              "parameters": {
                                "entityName": "ovs_operations",
                                "recordId": "@items('Apply_to_each_Operation')?['ovs_operationid']",
                                "item/ts_cargo": true,
                                "item/ts_cateringandstores": true,
                                "item/ts_domesticflights": false,
                                "item/ts_internationalflights": false,
                                "item/ts_mail": false,
                                "item/ts_opi": false,
                                "item/ts_oss": true,
                                "item/ts_ron": false,
                                "item/ts_aviationsecuritytraining": false,
                                "item/ts_transborderflights": true,
                                "item/ts_unattendedaircraft": false
                              },
                              "authentication": {
                                "type": "Raw",
                                "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                              }
                            }
                          }
                        },
                        "runAfter": {},
                        "else": {
                          "actions": {
                            "Update_Operation_Properties_(Other)": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "eccfe734-1579-4acc-a316-cad0c23c9788"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_commondataserviceforapps_1",
                                  "operationId": "UpdateRecord",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                                },
                                "parameters": {
                                  "entityName": "ovs_operations",
                                  "recordId": "@items('Apply_to_each_Operation')?['ovs_operationid']",
                                  "item/ts_cargo": true,
                                  "item/ts_cateringandstores": true,
                                  "item/ts_domesticflights": false,
                                  "item/ts_internationalflights": true,
                                  "item/ts_mail": false,
                                  "item/ts_opi": false,
                                  "item/ts_oss": true,
                                  "item/ts_ron": false,
                                  "item/ts_aviationsecuritytraining": false,
                                  "item/ts_transborderflights": false,
                                  "item/ts_unattendedaircraft": false
                                },
                                "authentication": {
                                  "type": "Raw",
                                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                }
                              }
                            }
                          }
                        },
                        "expression": {
                          "equals": [
                            "@outputs('Get_Stakeholder')?['body/_ts_country_value']",
                            "7c01709f-8e75-eb11-a812-000d3af3f6ab"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "85722544-dcca-4796-bc9b-5cdcc0f36add"
                        },
                        "type": "If"
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@outputs('Get_Stakeholder')?['body/_ts_country_value']",
                      "208ef8a1-8e75-eb11-a812-000d3af3fac7"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4cb36f52-5363-44ac-845b-38cfbebbb48d"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_Stakeholder": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@items('Apply_to_each_Operation')?['_ovs_operationtypeid_value']",
                      "8b614ef0-c651-eb11-a812-000d3af3ac0d"
                    ]
                  },
                  {
                    "equals": [
                      "@outputs('Get_Site')?['body/_ts_country_value']",
                      "208ef8a1-8e75-eb11-a812-000d3af3fac7"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "3aade091-7abb-43f6-b40c-986a76676949"
              },
              "type": "If"
            },
            "Set_all_properties_to_No": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "d9b39a9e-9f76-4b7e-85cb-816118db5da3"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ovs_operations",
                  "recordId": "@items('Apply_to_each_Operation')?['ovs_operationid']",
                  "item/ts_cargo": false,
                  "item/ts_cateringandstores": false,
                  "item/ts_domesticflights": false,
                  "item/ts_internationalflights": false,
                  "item/ts_internationalprogramsbranchipb": false,
                  "item/ts_mail": false,
                  "item/ts_opi": false,
                  "item/ts_oss": false,
                  "item/ts_ron": false,
                  "item/ts_aviationsecuritytraining": false,
                  "item/ts_transborderflights": false,
                  "item/ts_unattendedaircraft": false
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            },
            "Get_Site": {
              "runAfter": {
                "Set_all_properties_to_No": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "aec9929d-1e15-4c3d-a774-152561bc0dd5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "GetItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_functionallocations",
                  "recordId": "@items('Apply_to_each_Operation')?['_ts_site_value']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "List_All_Operations": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "24f1019e-a8ef-432d-ada7-2dad5e1ef4d4"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}