romts_gsrst_flows/Workflows/PrescribedRiskFrequencyOverrideUpdateRiskFrequency-E7712F89-895E-F011-877B-6045BD5E8D7E.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e53ca774-0a10-45a1-a2e5-1231c99162a0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ts_prescribedfrequencyoverride",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable_-_Prescribed_Frequency_Override_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fb7dfc14-3a52-446c-8cfd-7d3510b962f2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Prescribed Frequency Override ID",
                "type": "string",
                "value": "@{triggerOutputs()?['body/ts_prescribedfrequencyoverrideid']}"
              }
            ]
          }
        },
        "List_rows": {
          "runAfter": {
            "Initialize_variable_-_Prescribed_Frequency_Override_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8a3094d4-56b7-45ec-bccc-c19bb8d237ae"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ts_operationactivityriskscoreses",
              "$select": "ts_operationactivityriskscoresid",
              "$filter": "_ts_prescribedfrequencyoverride_value eq '@{variables('Prescribed Frequency Override ID')}'"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Get the Operation Activity Risk Scores that relate to the Prescribed Frequency Override",
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 100000
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "81722496-5ce9-4854-a780-fa4a93bb7b8d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "ts_operationactivityriskscoreses",
                  "recordId": "@items('Apply_to_each')?['ts_operationactivityriskscoresid']",
                  "item/ts_riskscoretrigger": -1
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Update each Operation Activity Risk Score to trigger the flow '[Operation Activity Risk Scores] Update Risk Rating' that way the Risk Frequency will be updated."
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "47a4f787-4d65-498a-b766-c3392489f71b"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}