romts_gsrst_flows/Workflows/SiteSetOwnertoBusinessUnit-ECED5BD3-C17B-ED11-81AD-0022483C5061.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_Site_is_Added": {
          "metadata": {
            "operationMetadataId": "855a6c7b-0d57-470d-b6af-7a4881ddb1e7"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msdyn_functionallocation",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Business_Unit": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f1193210-817a-4ec3-9b6b-3502daa961bc"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "businessunits",
              "recordId": "@triggerOutputs()?['body/_owningbusinessunit_value']",
              "$select": "name"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Team_of_Business_Unit": {
          "runAfter": {
            "Get_Business_Unit": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7a47ccae-307b-43e8-9ebe-93b9fabb134f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "fetchXml": "<fetch>\n  <entity name=\"team\">\n    <attribute name=\"teamid\" />\n    <filter>\n      <condition attribute=\"name\" operator=\"eq\" value=\"@{outputs('Get_Business_Unit')?['body/name']}\" />\n    </filter>\n  </entity>\n</fetch>",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_Team": {
          "foreach": "@outputs('Get_Team_of_Business_Unit')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "e9ec01a4-8ff1-407e-8a7b-48c3de248cd0"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps_1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "msdyn_functionallocations",
                  "recordId": "@triggerOutputs()?['body/msdyn_functionallocationid']",
                  "item/ownerid@odata.bind": "/teams(@{items('Apply_to_Team')?['teamid']})"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Team_of_Business_Unit": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc0c71ec-3723-46d3-b27b-0de2620c09e1"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}