romts_gsrst_flows/Workflows/WorkOrderChangeWOaccessteamownertoownerBU-F703A843-AF0B-EE11-8F6E-0022483C5061.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "d85bb2b2-97be-4c44-bc1b-58685562fa49"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "msdyn_workorder",
              "subscriptionRequest/scope": 2,
              "subscriptionRequest/filteringattributes": "ownerid"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "15d64690-d84d-4b5c-aba9-34e940b026d6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps-1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "teams",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\">@{triggerOutputs()?['body/processid']}\n  <entity name=\"team\">\n    <attribute name=\"teamid\" />\n    <attribute name=\"name\" />\n    <attribute name=\"description\" />\n    <filter type=\"and\">\n      <condition attribute=\"regardingobjectid\" operator=\"eq\" value=\"@{triggerOutputs()?['body/msdyn_workorderid']}\" />\n      <condition attribute=\"teamtype\" operator=\"eq\" value=\"1\" />\n      <condition attribute=\"teamtemplateid\" operator=\"eq\" value=\"{bddf1d45-706d-ec11-8f8e-0022483da5aa}\" />\n    </filter>\n  </entity>\n</fetch>\n",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_rows')?['body/value']",
          "actions": {
            "Update_a_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "7ca7d468-f3a9-4f8d-a326-3034648c4308"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps-1",
                  "operationId": "UpdateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "recordId": "@items('Apply_to_each')['teamid']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5147aa49-0a55-4422-b6a9-ae8136faefe4"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}