romts_gsrst_flows/Workflows/WorkOrderUpdateNumberOfFindings-32636884-BC89-EC11-8D20-0022483CA2F9.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ts_ROMTSGSRSTFlowsDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "3c026ffa-aa32-40b6-9b09-4881b7b6b24e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 5,
              "subscriptionRequest/entityname": "ovs_finding",
              "subscriptionRequest/scope": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Related_Work_Order": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "9985c303-9a2b-4d4b-a3a9-4398f07feaab"
          },
          "type": "Compose",
          "inputs": "@triggerOutputs()?['body/_ts_workorder_value']"
        },
        "Update_related_Work_Order": {
          "runAfter": {
            "List_of_findings": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f3733e43-a644-4033-8eb3-b86cc27295c8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_workorders",
              "recordId": "@outputs('Related_Work_Order')",
              "item/ts_numberoffindings": "@length(outputs('List_of_findings')?['body/value'])"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_of_findings": {
          "runAfter": {
            "Related_Work_Order": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b234f006-077d-4a7d-8256-ac40597c73f9"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "ovs_findings",
              "fetchXml": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ovs_finding\">    \n    <filter type=\"and\">\n      <condition attribute=\"ts_workorder\" operator=\"eq\" uiname=\"300-000541\" uitype=\"msdyn_workorder\" value=\"@{outputs('Related_Work_Order')}\" />\n    </filter>\n  </entity>\n</fetch>"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}